/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.hidden{
	display: none;
}

img{
  height: 400px;
  margin: 50px auto;
}

body{
  text-align: center;

}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
