* {
    box-sizing: border-box;
}
header nav > *,main,aside {
    float: left;
    height: 600px;
    width: 10%;
    margin: auto;
}
header {
    height: 100%;
}

main {
    width: 50%;
}

main img {
    width: 80%;
}

aside {
    width: 40%;
}

header nav li {
    list-style: none;
}

.none,.one,.two,.three {
    float: left;
    width: 10%;
}

.one,.two,.three {
    width: 30%;
}