img{
    height: 500px;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

button{
    width: 100px;
    height: 30px;
    margin: 30px 120px;
}


button#blue{
    background-color: deepskyblue;
    color: black;
}

button#yellow{
    background-color: gold;
    color: black;
}

button#grey{
    background-color: darkgrey;
    color: black;
}

button#pink{
    background-color: rgb(240, 136, 153);
    color: black;
}

h2, h3{
    text-align: center;
}
