/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  height: 400px;
  float: left;
  width: 33%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
